@import url('../../../styles/global.css');

.toggle {
	--toggle-width: 60px;
	--toggle-height: 28px;
	box-sizing: content-box;
	height: var(--toggle-height);
	width: var(--toggle-width);
	border-radius: 40px;
	background-color: rgb(80, 77, 77);
	position: relative;
	transition: background-color 0.2s ease-in-out;
}

.toggle__handle {
	width: calc(var(--toggle-height) - 2px);
	height: calc(var(--toggle-height) - 2px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 1px;
	transition: all 0.2s ease-in-out;
}

.checked {
	background-color: rgb(83, 187, 63);
}

.handle_checked {
	transform: translateX(calc(var(--toggle-width) - var(--toggle-height)));
}

.toggle__handle-image {
	color: var(--accentColor);
}