@import url('./global.css');

.item-card {
	display: flex;
	border-radius: 5px;
	margin-bottom: 2px;
	padding: 5px;
	padding-left: 25px;
	font-size: 16px;
	background-color: var(--itemCardColor);
	color: var(--textColor);
	line-height: 40px;
	border: 1px solid var(--shadowColor);
	cursor: pointer;
}

.search-selection {
	color: var(--accentColor);
}

.deseases-wrapper {
	overflow-y: scroll;
}