@import url('../../styles/global.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Source Serif 4", sans-serif;
	background-color: var(--contentColor);
	transition: background-color 0.1s ease-in-out;
	color: var(--textColor)
}

span {
	background-color: transparent;
}

.navbar {
	height: 65px;
	box-shadow: 0 2px 2px var(--shadowColor);
	display: flex;
	justify-content: space-between;
}

.navMenu {
	height: 65px;
	width: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navMenu__container {
	position: absolute;
	box-shadow: 0 5px 5px var(--shadowColor);
	z-index: 10;
	top: 100%;
	right: 0;
	width: max-content;
	background-color: var(--navMenuColor);
	border-radius: 0.3rem;
	border-top-right-radius: 0;
	opacity: 0;
	transform: translateY(-50%) scaleY(0);
	overflow: hidden;
	pointer-events: none;
	transition: transform 0.1s, opacity .5s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar__menuActive {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0) scale(1, 1);
}

.navbar__menubutton-active {
	background-color: var(--navMenuColor);
	transition: background-color 0.1s ease-in-out;
}

.menuItem {
	padding: 8px;
	font-size: 18px;
	display: flex;
	align-items: center;
	background-color: transparent;
	transition: background-color 0.1s ease-in-out;
}

.menuItem:active {
	background-color: var(--navMenuItemActiveColor);
}

.menu__substrate {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
	background-color: transparent;
}

.swithchThemeButton {
	color: var(--accentColor);
	font-size: 36px;
}

.navTitle {
	display: flex;
	font-weight: 600;
	font-size: 20px;
	flex-grow: 1;
	font-style: italic;
	justify-content: flex-start;
	align-items: center;
	padding-left: 15px;
	color: var(--textColor);
	line-height: 20px;
}
