@import url('../../../styles/global.css');

.card {
	border-radius: 5px;
	margin-bottom: 5px;	
	background-color: var(--itemCardColor);
	color: var(--textColor);
	
}

.card__header {
	display: flex;
	justify-content: center;
	background-color: var(--shadowColor);
	border: 1px solid var(--shadowColor);
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}

.card__header-text {
	font-size: 18px;	
}

.card__body {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	padding-bottom: 0;
	background-color: transparent;
	border: 1px solid var(--shadowColor);
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
